<p>game works!</p>
<p>Name</p>
<input type="text" name="" [value]="defaultName"><!-- ejemplo property bindind-->

<p>{{user}}</p>
<input [(ngModel)]="user" type="text" name="">

<p>Type of Videogame</p>
<input type="text" name="">

<br><hr>
<button (click)="onSendForm()">Send Form</button><!-- ejemplo event bindind -->
<p>{{status}}</p> <!-- ejemplo de interpolation-->

<div *ngIf="displayGame; then showgame; else hidegame"></div> <!-- ejemplo directiva *ngIf -->
<div *ngFor="let nombre of names"> <!-- Ejemplo directiva *ngFor -->
    <p>{{nombre}}</p>
</div>

<ng-template #showgame>
    <p>Ghost The Tsushima</p>
</ng-template>

<ng-template #hidegame>
    <p>No muestro el videojuego</p>
</ng-template>


<hr>
<button (click)="onDefaultForm()">Default Form</button><!-- ejemplo event bindind-->